<div *ngFor="let temparature of temperature$ | async">
  temperature {{ temparature.value }} {{ temparature.timestamp }}
</div>
<div *ngFor="let compressorStatus of compressor$ | async">
  compressor {{ compressorStatus.status }} {{ compressorStatus.timestamp }}
</div>
<div *ngFor="let fanStatus of fan$ | async">
  fan {{ fanStatus.status }} {{ fanStatus.timestamp }}
</div>
<div *ngFor="let defrost of defrost$ | async">
  defrost {{ defrost.status }} {{ defrost.timestamp }}
</div>
<router-outlet></router-outlet>
